*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #16171b;
  scroll-behavior: smooth;
}
.flex {
  display: flex;
}
.navbar {
  width: 92%;
  max-width: 90rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.container {
  width: 92%;
  max-width: 90rem;
  margin: 0 auto;
}
.flex {
  display: flex;
  &-aic {
    align-items: center;
  }
  &-jcc {
    justify-content: center;
  }
  &-jcsb {
    justify-content: space-between;
  }
  &-jcse {
    justify-content: space-evenly;
  }
  &-fdc {
    flex-direction: column;
  }
}

.logo {
  height: 100%;
  h1 {
    margin: 1rem;
    font-family: "Caveat", cursive;
  }
}
.todo {
  &-wrapper {
    min-height: 35rem;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }
  &-items {
    padding: 2rem 0;
    display: grid;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  &-task {
    font-weight: bold;
    padding: 1rem;
    height: 10rem;
    border-radius: 0.5rem;
    background-color: #0b001c;
    &-desc {
      font-size: 1.125rem;
    }
    &-category {
      margin-left: 2rem;
      text-align: center;
      padding: 0.25rem 1rem;
      width: 6rem;
    }
    &-buttons {
      height: 2rem;
      font-weight: bold;
      padding: 0 1rem;
      color: white;
      background: transparent;
      cursor: pointer;
      &:first-child {
        margin-right: 1rem;
        border: 1px solid #28a745;
      }
      &:last-child {
        color: red;
        border: 1px solid red;
      }
      &-cont {
        justify-content: flex-end;
      }
    }
    &:hover {
      box-shadow: -5px 5px 0px white;
      transform: translate(5px, -5px);
      background-color: #16003cac;
    }
  }
}
#illustration {
  width: 35rem;
}
@media (max-width: 1024px) {
  .todo-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  #illustration {
    width: 25rem;
  }
  .todo-items {
    grid-template-columns: 1fr;
    width: 86%;
    max-width: 30rem;
  }
}
@import "form";

footer {
  border-top: solid white 1px;
  font-size: 0.75rem;
  height: 3rem;
  text-align: center;
  p {
    margin: 0.5rem;
  }
  img {
    height: 2rem;
    width: 2rem;
  }
}
