<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#ffdf00">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/login.css">
    <link rel="shortcut icon" href="/Public/images/List.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>TaskTrack</title>
</head>

<body>
    <div class="container">
        <a href="/auth/google">
            <div class="login-button">
                <img src="/Public/images/google-icon.png" alt="google-icon">
                <span>Login with Google</span>
            </div>
        </a>
    </div>
</body>

</html>